body {
    margin: 0;
    padding: 0;
}

*, *:after, *:before {
    box-sizing: border-box;
}

.wrapper-fluid {
    padding: 0 15px;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

header {
    background: #666;
    color: #fff;
}

.header-inner, .footer-inner {
    min-height: 70px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo-col {

}

.logo-col a {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
}

.phone-col {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 10px;
}

.phone-col a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

footer {
    background: #333;
    color: #fff;
}

.page-content {
    min-height: calc(100svh - 140px);
}